.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__field {
    padding: 10px;
    border: 1px solid #eee;
}

.form__button {
    background-color: #217b75;
    color: #ffffff;
    border: none;
    padding: 10px;
    transition: 0.5s linear;
    cursor: pointer;
}

.form__button:hover {
    background-color: #4daca6;
    transform: scale(1.1);
}

.form__button:active {
    background-color: #53d4cb;
}